body > article > ul {
  display: block;
  margin: 0;
  padding: 0;
}

body > article > ul > li {
  display: block;
  padding: 0;
  margin: 0;
} 

body > article > ul > li > a {
  text-decoration: none;
  border: 0.1ex solid grey;
  display: block;
  padding: 0.5em;
}