/* Background with climate change visualization */
html {
  width: 100%;
  min-height: 100%;
  /* background-color: darkcyan; */
  background-image: url("./Downloads/globalcore.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 16pt;
}

/* Give text readable background */
body {
  background-color: rgba(255, 255, 255, 0.88);
}

/* Keep the text centraled and properly spaced */
body {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem 4rem;
}

/* Header underlines */
h2 {
  font-size: larger;
  border-bottom: 1px solid grey;
}

/* Style hyperlinks */
a {
  transition: color 0.4s;
  color: #265c83;
  text-decoration: none;
}

a:link,
a:visited {
  color: #265c83;
}

a:hover {
  color: #7fdbff;
}

a:active {
  transition: color 0.3s;
  color: #007be6;
}

/* Headshot */
figure.me {
  max-width: 10rem;
  margin: 0;
  margin-left: 2rem;
  float: right;
  position: relative;
  z-index: 99;
}

figure.me img {
  max-width: 100%;
  height: auto;
}

figure.me figcaption ul {
  padding: 0;
  margin: 0;
}

figure.me figcaption li {
  list-style: none;
}

figure.me figcaption a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3ex;
  border-radius: 1ex;
  font: italic smaller sans-serif;
  padding: 5px;
  border: 1px solid grey;
  background-color: white;
}

/* Italic paper titles */
#publications~article>h1 {
  font-style: italic;
}

/* Author lists */
ul.authors {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 0 1ex;
}

ul.authors>li {
  display: inline-block;
  text-wrap: nowrap
}

ul.authors>li:not(:last-child):after {
  content: ",";
}

ul.authors>li.me {
  text-decoration: underline;
}

/* Link lists */
ul.links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5ex;
  font-family: monospace;
}

ul.links>li {
  display: contents;
}

ul.links>li a::before {
  content: "[";
}

ul.links>li a::after {
  content: "]";
}

/* Venue */
span.venue {
  font-style: normal;
  font-weight: lighter;
  text-wrap: nowrap;
}

span.venue::before {
  content: "\A";
  white-space: pre;
}

a.award::before {
  content: " | ";
}

a.award::after {
  content: "";
}

a.award {
  font-style: normal;
  font-weight: lighter;
  white-space: nowrap;
}

article.publication>h1,
article.talk>h1 {
  font-size: medium;
  margin-bottom: 0;
}

ul.authors,
ul.links {
  font-size: smaller;
}

/* timeline */
:root {
  --timeline-radius: 1.3ex;
  --timeline-between-event: 1.5em;
  --timeline-padleft: 1.2em;
}

#timeline {
  border-left: 1px solid lightgrey;
  padding: 0;
  padding-left: var(--timeline-padleft);
}

#timeline>* {
  padding: 0;
  margin: 0;
}


#timeline>dt {
  margin-top: var(--timeline-between-event);
  position: relative;
}

#timeline>dt::before {
  /*  shape  */
  content: " ";
  width: var(--timeline-radius);
  height: var(--timeline-radius);
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 50%;
  /*  position  */
  position: absolute;
  left: calc(-0.5 * var(--timeline-radius) - 1px - var(--timeline-padleft));
  top: calc(0.5lh - 1px);
  transform: translateY(-50%);
  /*  color  */
  background-color: white;
}

#timeline>dd {
  font-size: smaller;
}

#timeline>dd>dl>dt {
  display: inline;
  font-style: italic;
}

#timeline>dd>dl>dt::after {
  content: ":";
}

#timeline>dd>dl>dd {
  display: inline;
  margin: 0;
  padding: 0;
}

#timeline>dd>dl>dd::after {
  content: "\a";
  white-space: pre;
}