/* Background with climate change visualization */
html {
  width: 100%;
  min-height: 100%;
  /* background-color: darkcyan; */
  background-image: url("./Downloads/globalcore.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Give text readable background */
body {
  background-color: rgba(255, 255, 255, 0.80);
}

/* Keep the text centraled and properly spaced */
body {
  max-width: 80ex;
  margin: 0 auto;
  padding: 3ex 7ex;
}

/* Header underlines */
h2 {
  border-bottom: 1px solid grey;
}

/* Style hyperlinks */
a {
  transition: color 0.4s;
  color: #265c83;
  text-decoration: none;
}
a:link,
a:visited {
  color: #265c83;
}
a:hover {
  color: #7fdbff;
}
a:active {
  transition: color 0.3s;
  color: #007be6;
}


/* Headshot */
figure.me {
  max-width: 25ex;
  margin: 0;
  margin-left: 1em;
  float: right;
}
figure.me img {
  max-width: 100%;
  height: auto;
}
figure.me figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/* Italic paper titles */
#publications ~ article > h1 {
  font-style: italic;
}

/* Author lists */
ul.authors {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 0 1ex;
}
ul.authors>li {
  display: inline-block;
  text-wrap: nowrap
}
ul.authors>li:not(:last-child):after {
  content: ",";
}
ul.authors>li.me {
  text-decoration: underline;
}

/* Link lists */
ul.links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5ex;
  font-family: monospace;
}
ul.links>li {
  display: contents;
}
ul.links>li a::before {
  content: "[";
}
ul.links>li a::after {
  content: "]";
}

/* Venue */
span.venue {
  font-style: normal;
  font-weight: lighter;
  text-wrap: nowrap;
}
span.venue::before {
  content: "\A";
  white-space: pre;
}

a.award::before {
  content: " | ";
}
a.award::after {
  content: "";
}
a.award {
  font-style: normal;
  font-weight: lighter;
  white-space: nowrap;
}

article.publication > h1, article.talk > h1 {
  font-size: medium;
  margin-bottom: 0;
}

ul.authors {
  font-size: smaller;
}