nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

menu {
  display: flex;
  flex-direction: column;
  padding: 0 2ex;
  gap: 1rem;
}

menu > li {
  display: contents;
}

menu > li > a {
  display: block;
  padding: 1.3ex 1ex;
  border-radius: 0.8ex;
  border: 2px solid darkgray;
  text-align: center;
}

h1+ul {
  padding: 0px;
  display: inline-block;
  margin: 0px;
}

h1+ul>li {
  display: inline-block;
  padding: 0px 1em;
}

h1+ul>li:not(:last-child) {
  border-right: 1px solid black;
}

h1 {
  margin-bottom: 0.7ex;
}

h2 {
  border-bottom: 1px solid grey;
}

html {
  width: 100%;
  min-height: 100%;
  /* background-color: darkcyan; */
  background-image: url("./Downloads/globalcore.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  max-width: 80ex;
  font-family: sans-serif;

  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1ex;
  padding: 3ex 7ex;
}

h1,
h2,
h3 {
  font-family: sans-serif;
  font-weight: normal;
}

a {
  transition: color 0.4s;
  color: #265c83;
  text-decoration: none;
}

a:link,
a:visited {
  color: #265c83;
}

a:hover {
  color: #7fdbff;
}

a:active {
  transition: color 0.3s;
  color: #007be6;
}

p:last-child {
  margin-bottom: 0;
}

figure.me {
  max-width: min(calc(50% - 1em), 25ex);
  margin: 0;
  padding: 1ex;
}

figure.me img {
  max-width: 100%;
  height: auto;
}

figure.me figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

details:hover {
  border-color: red;
}

/*
details>summary {
  list-style-type: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary::after {
  content: '(Click to learn more)';
}

details[open]>summary::after {
  content: '';
} */

details {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

details[open]>summary {
  margin-bottom: 0.5rem;
}

#publications ~ article > h3 {
  margin-bottom: 0;
  font-family: serif;
  font-style: italic;
}

ul.authors {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 0 1ex;
}
ul.authors>li {
  display: inline-block;
  text-wrap: nowrap
}
ul.authors>li:not(:last-child):after {
  content: ",";
}
ul.authors>li.me {
  text-decoration: underline;
}


ul.links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5ex;
  font-family: monospace;
}
ul.links>li {
  display: contents;
}
ul.links>li a::before {
  content: "[";
}
ul.links>li a::after {
  content: "]";
}

span.venue {
  font-size: smaller;
  font-style: normal;
  text-wrap: nowrap;
}
span.venue::before {
  content: "(";
}
span.venue::after {
  content: ")";
}

@media print {
  body section:first-of-type {
    display: none;
  }

  h1,
  body ul:first-of-type {
    display: inline-block;
  }

  body ul:first-of-type li:first-of-type {
    display: none;
  }

  body {
    width: unset;
    font-size: 11pt;
    font-family: sans-serif;

    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 3ex 3ex;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
}